<div data-role="view" data-title="User Account" data-layout="add" data-reload="true" data-model="app.userAccount.model" data-use-native-scrolling="true">
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Username
                <span data-bind="text: Username"></span>
            </label>
        </li>
        <li>
            <label>
                First Name
                <input type="text" data-bind="value: FirstName" />
            </label>
        </li>
        <li>
            <label>
                Last Name
                <input type="text" data-bind="value: LastName" />
            </label>
        </li>
        <li>
            <label>
                Is User Account Locked
                <input data-role="switch" data-bind="checked: IsUserAccountLocked" />
            </label>
        </li>
    </ul>
</div>

<script type="text/javascript">
    function save_click() {
        app.userAccount.create();
    }
</script>