<div data-role="view" data-title="User Account Role" data-layout="add" data-reload="true" data-model="app.userAccount_Role" data-use-native-scrolling="true">
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Role
                <select name="RoleId"
                        data-bind="source: roles, value: model.RoleId"
                        data-text-field="Text"
                        data-value-field="Value">
                </select>
            </label>
        </li>
    </ul>
</div>

<script type="text/javascript">
    function save_click() {
        app.userAccount_Role.create();
    }
</script>